.addItemBtnDiv{
    background-color: none; 
}

.addItemBtn{
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.actionButtons {
    background-color: red;
    width: 100%;
    display: inline;
}